@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "somar";
  src: url("../assets/fonts/Somar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "somar-bold";
  src: url("../assets/fonts/Somar-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "somar-light";
  src: url("../assets/fonts/Somar-Light.otf") format("opentype");
}

body {
  font-family: "somar", sans-serif;
}

#heroSection {
  background-image: url("../assets/images/heroBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  @apply min-h-screen;
}

.navbarItems {
  cursor: pointer;
}

.timelineSection {
  @apply w-[90%] lg:w-[350px];
}

.timelineBarSection {
  @apply flex flex-row items-center py-10 min-w-full ;
}

.timelinespot {
  @apply w-[120px] h-[30px] bg-[#C2AB80] rounded-full;
}

.timelineLine {
  @apply w-[100vw] h-[2px] bg-[#C2AB80];
}

img {
  transition: all 0.5s ease-in-out;
}


@media (min-width: 768px) {

.flip-card-back {
  padding: 2%;
  height: 564px;
  background: #F5F4F4;
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 560px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
}