@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "somar";
  src: url("../assets/fonts/Somar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "somar-bold";
  src: url("../assets/fonts/Somar-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "somar-light";
  src: url("../assets/fonts/Somar-Light.otf") format("opentype");
}

body {
  font-family: "somar", sans-serif;
}

#heroSection {
  background-image: url("../assets/images/heroBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  @apply min-h-screen;
}

.navbarItems {
  cursor: pointer;
}

.timelineSection {
  @apply w-[90%] md:min-w-[350px];
}

.timelineBarSection {
  @apply flex flex-row items-center py-10 md:py-5 min-w-full ;
}

.timelinespot {
  @apply w-[40px] h-[30px] md:w-[200px] md:h-8 bg-golden rounded-full;
}

.timelineLine {
  @apply w-[100vw] h-[2px] bg-golden;
}


@media (min-width: 768px) {

.flip-card-back {
  padding: 2%;
  height: 512px;
  background: #F5F4F4;
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  @apply mx-5
}

.flip-card {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 560px;
}
}

.menu{
  background-color: #154466;
  min-width: 90vw;
  right: 0;
  line-height: 2;
  font-weight: 200;
  top: 0;
  padding: 20px;
  position:absolute;
  min-height: 100vh;
  z-index: 10;
}

.dropdown-content a {
  color: white;
  background-color: transparent;
  text-align: center;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}

.mobile-nav-view{
  background-color: #154466;
  min-width: 90vw;
  right: 0;
  line-height: 2;
  top: 0;
  padding: 20px;
  position:absolute;
  min-height: 100vh;
  z-index: 10;
}
.mobile-nav-view{
  font-weight: 400;
}

.activeTab{
  border-right: 5px solid #C2AB80;
  width: max-content;
  padding-right: 20px;
}