@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "somar";
  src: url("../assets/fonts/fonnts.com-Somar_Regular.ttf") format("ttf");
}
@font-face {
  font-family: "somar-bold";
  src: url("../assets/fonts/fonnts.com-Somar_Bold.ttf") format("ttf");
}
@font-face {
  font-family: "somar-light";
  src: url("../assets/fonts/fonnts.com-Somar_Light.ttf") format("ttf");
}

#heroSection {
  background-image: url("../assets/images/heroBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  @apply min-h-screen;
}
