@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "somar";
  src: url("../assets/fonts/Somar-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "somar-bold";
  src: url("../assets/fonts/Somar-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "somar-light";
  src: url("../assets/fonts/Somar-Light.otf") format("opentype");
}

body {
  font-family: "somar", sans-serif;
}

#heroSection {
  background-image: url("../assets/images/heroBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  @apply min-h-screen;
}

.navbarItems{
  cursor: pointer;
}

.timelineSection {
  @apply w-[90%] lg:w-[350px];
}

.timelineBarSection {
  @apply flex flex-row items-center py-10 min-w-full;
}

.timelinespot {
  @apply w-[12%] h-[30px] bg-[#C2AB80] rounded-full;
}

.timelineLine {
  @apply w-[100vw] h-[2px] bg-[#C2AB80];
}
